body {
  background-color: #f6f7fb;
  background-image: url(https://animations.neris-assets.com/homepage.svg?v=1);
  font-family: 'Muli', sans-serif;
  }
h1{
  text-align: center;
  font-size: 50px;
  position: relative;
  top:30px;
}

#p1
{
text-align: center;
font-size: 14px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin:0 auto;
    position: relative;
    right: 10px;
    top:10px;
}
fieldset.question{
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-radius: 8px;
}
form.choice{
  background: #F8F8F8;
  position: relative;
  left:125px;
  text-align:justify;
  width:100px;
  margin: 0.5em 0;
  padding: 0.3em;
  border: 0.2em solid #66CCFF;
  border-radius: 8px;
}
fieldset.quiz{
  margin: 0 auto;
  display: block;
  width:400px;
}
#c1{
  text-align: center;
}
